
<div class=" container-index2">
  <div class="color-der col-index" style="padding-top: 40px; flex-direction: column;" align="center">
    <div>
      <img src="../images/icons8-twitter-500.png" width="30px">
    </div>
      <h3 style="color:white; margin:20px">Sign Up on Twitter</h3>
      <button type="button" id="registerBtn" class="btn btn-primary" style="width:400px;" data-toggle="modal" data-target="#RegisterModal">Sign up</button>
    <div style="flex-direction: row;">
        <a href="/users/sign_in">Sign in on Twitter</a>x
        <span style="color:rgb(111, 121, 117)">.</span>
        <a href="/users/password/new">Forgot password?</a>
    </div>
  </div>
</div>
  
<div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="RegisterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RegisterModalLabel">Create your account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="new_user" id="new_user" target="_self" name="new_user" action="/users" accept-charset="UTF-8" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <div class="Myinput-field" style="width:90%;">
              <label for="name" style="width:100%;">Name
                  <input autofocus="autofocus" autocomplete="name" type="text" value=""
                   name="user[name]" id="user_name"  class="myInput" style="width:100%;color:black;">
              </label>
            </div>
            
          <br>

            <div class="Myinput-field" style="width:90%;">
              <label for="email" style="width:100%;">Email
                  <input autofocus="autofocus" autocomplete="email" type="email" value=""
                   name="user[email]" id="user_email" class="myInput" style="width:100%;color:black;">
              </label>
            </div>

            <br>

          <p style="font-weight: bold; font-size: 11px">Birth Day </p>
          <p style="font-size: 11px">This information will not be public. 
          Confirm your own age even if this account is for a company or a pet or something else</p>

          <div class=" container-fluid row" >
                    <div class="Myinput-field" style="width: 42%">
                        <label for="month" style="width: 100%; height:60%">Month
                        <br>
                            <select  class=" Myselect" name="MES" id="MES" >
                              <option selected disabled="disabled" ></option>
                              <option value=01>January</option>
                              <option value=02>Febuary</option>
                              <option value=03>March</option>
                              <option value=04>April</option>
                              <option value=05>May</option>
                              <option value=06>June</option>
                              <option value=07>July</option>
                              <option value=08>August</option>
                              <option value=09>September</option>
                              <option value=10>October</option>
                              <option value=11>November</option>
                              <option value=12>December</option>
                            </select>
                        </label>
                    </div>

                      <div class="Myinput-field" style="width: 20%">
                        <label for="month" style="width: 100%; height:60%">Day
                        <br>
                            <select name="DIA" id="DIA" class=" Myselect">
                              <option selected disabled="disabled" ></option>
                              
                                <% for i in 1..31 %>
                                  <option value=<%i%>><%= i %></option>
                                <% end %>
                            
                            </select>
                        </label>
                    </div>

                     <div class="Myinput-field" style="width: 30%">
                        <label for="month" style="width: 100%; height:60%">Year
                        <br>
                            <select name='AÑO' id='AÑO' class=" Myselect">
                              <option selected disabled="disabled" ></option>

                                <% for i in -2020..-1900 %>
                                  <option value="<%-1*i%>"><%= -1*i %></option>
                                <% end %>

                            </select>
                        </label>
                    </div>
            </div>

          <br>
           <input type="hidden" id="user_birth" name="user[birth]" class="myInput" style="width:100%;color:black;">

          <div class="Myinput-field" style="width:90%;">
              <label for="password" style="width:100%;">Password
                  <input autocomplete="new-password" type="password" 
                  name="user[password]" id="user_password" class="myInput" style="width:100%;color:black;">
              </label>
            </div>
          <br>

            <div class="Myinput-field" style="width:90%;">
              <label for="password_confirmation" style="width:100%;">Confirm password
                  <input autocomplete="new-password" type="password"name="user[password_confirmation]" 
                  id="user_password_confirmation" class="myInput" style="width:100%;color:black;">
              </label>
            </div>
            <div class="modal-footer">
            <div class="justify-content-between" style="width:100%;">
                  <button type="button" class="btn btn-secondary" style="width:30%;" data-dismiss="modal">Close</button>
                  <input type="submit" name="commit" class="btn btn1"
                  formtarget="_self" value="Create" style="width:60%;" data-disable-with="Sign up">
            </div>
            <a href="/users/confirmation/new">Didn't receive confirmation instructions?</a>
      </div>
            
        </form>
      </div>

    </div>
  </div>
</div>
<script>
function redireccionar(){
  document.getElementById('registerBtn').style.display='active';
  $("#registerBtn").trigger("click");
} 
setTimeout ("redireccionar()", 100); //tiempo expresado en milisegundos

var Mes=""
var Dia=""
var Año=""
var date=""
var mes = document.getElementById('MES');
mes.addEventListener('change',
  function(){
    var selectedOption = this.options[mes.selectedIndex];
    Mes=selectedOption.value;
    date=Dia+"/"+Mes+"/"+Año;
    document.getElementById('user_birth').value=date
  });
var dia = document.getElementById('DIA');
dia.addEventListener('change',
  function(){
    var selectedOption = this.options[dia.selectedIndex];
    Dia=selectedOption.text;
    date=Dia+"/"+Mes+"/"+Año;
   document.getElementById('user_birth').value=date

  });
var año = document.getElementById('AÑO');
año.addEventListener('change',
  function(){
    var selectedOption = this.options[año.selectedIndex];
    Año=selectedOption.text;
    date=Dia+"/"+Mes+"/"+Año;
   document.getElementById('user_birth').value=date

  });

</script>