<h2> Sign Up</h2>

<%= render "devise/shared/links" %>

<button type="button" class="btn btn-primary" style="width:200px;" data-toggle="modal" data-target="#RegisterModal">Sign up</button>

<div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="RegisterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RegisterModalLabel">Create your account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <div class="Myinput-field" style="width:90%;">
              <label for="name" style="width:100%;">Name
                  <input autofocus="autofocus" autocomplete="name" type="text" value=""
                   name="user[name]" id="user_name"  class="myInput" style="width:100%;color:black;">
              </label>
            </div>
            
          <br>

            <div class="Myinput-field" style="width:90%;">
              <label for="email" style="width:100%;">Email
                  <input autofocus="autofocus" autocomplete="email" type="email" value=""
                   name="user[email]" id="user_email" class="myInput" style="width:100%;color:black;">
              </label>
            </div>

            <br>

          <p style="font-weight: bold; font-size: 11px">Birth Day </p>
          <p style="font-size: 11px">This information will not be public. 
          Confirm your own age even if this account is for a company or a pet or something else</p>

          <div class=" container-fluid row" >
                    <div class="Myinput-field" style="width: 42%">
                        <label for="month" style="width: 100%; height:60%">Month
                        <br>
                            <select id="month" class=" Myselect">
                              <option selected disabled="disabled" ></option>
                              <option value="January">January</option>
                              <option value="Febuary">Febuary</option>
                              <option value="March">March</option>
                              <option value="April">April</option>
                              <option value="May">May</option>
                              <option value="June">June</option>
                              <option value="July">July</option>
                              <option value="August">August</option>
                              <option value="September">September</option>
                              <option value="October">October</option>
                              <option value="November">November</option>
                              <option value="December">December</option>
                            </select>
                        </label>
                    </div>

                      <div class="Myinput-field" style="width: 20%">
                        <label for="month" style="width: 100%; height:60%">Day
                        <br>
                            <select id="month" class=" Myselect">
                              <option selected disabled="disabled" ></option>
                              
                                <% for i in 1..31 %>
                                  <option value="<%i%>"><%= i %></option>
                                <% end %>
                            
                            </select>
                        </label>
                    </div>

                     <div class="Myinput-field" style="width: 30%">
                        <label for="month" style="width: 100%; height:60%">Year
                        <br>
                            <select id="month" class=" Myselect">
                              <option selected disabled="disabled" ></option>

                                <% for i in -2020..-1900 %>
                                  <option value="<%i%>"><%= -1*i %></option>
                                <% end %>

                            </select>
                        </label>
                    </div>
            </div>

          <br>

          <div class="Myinput-field" style="width:90%;">
              <label for="password" style="width:100%;">Password
                  <input autocomplete="new-password" type="password" 
                  name="user[password]" id="user_password" class="myInput" style="width:100%;color:black;">
              </label>
            </div>
          <br>

            <div class="Myinput-field" style="width:90%;">
              <label for="password_confirmation" style="width:100%;">Confirm password
                  <input autocomplete="new-password" type="password"name="user[password_confirmation]" 
                  id="user_password_confirmation" class="myInput" style="width:100%;color:black;">
              </label>
            </div>
                  <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="width:150px;" data-dismiss="modal">Close</button>
        
        <input type="submit" name="commit" value="Create" data-disable-with="Sign up">
  
      </div>
            
        </form>
      </div>

    </div>
  </div>
</div>
