<%= form_with(model: @tweet, local: true) do |form| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% @tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="card" ><!--style="color:white; background-color: rgb(5, 21, 46);"-->
  <div class="card-body">
    <h5 class="card-title">Home</h5>
    <hr>

  <div class="row">
    <div style="width:10%;">
      <img src="../images/default_profile_400x400.png" class="profile_image"> 
    </div>
    <div style="width:90%;">
        <textarea class="mytextarea" placeholder="What's happening?" style="font-size:17px;"
        name="tweet[text]" id="tweet_text"></textarea>
        <hr>
        <div class="row">
          <div class=" col-7 d-flex justify-content-start">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
          </div>
          <div class=" col-5 d-flex justify-content-end">
              <input type="submit" name="commit" class=" btn btn1"  value="Tweet" data-disable-with="Tweet"
              style="width: auto; font-size:15px;">
          </div>
        </div>
 
    </div>
  </div>
  </div>
</div>
<% end %>
