

<div class=" container-index2">

    <div class="color-der col-index"
    style="padding-top: 40px; flex-direction: column;" align="center">
    <div>
        <img src="../images/icons8-twitter-500.png" width="30px">

    </div>
        <h3 style="color:white; margin:20px">Log in on Twitter</h3>

        <div class="login_input">
            <label for="first_name">Phone, email, or username
                <input id="first_name" type="text" class="LogInput">
            </label>
        </div>

        <div class="login_input" >
            <label for="Password" >Password
                <input id="Password" type="text" class="LogInput">
            </label>
        </div>

    <div>
        <a class="btn btn2" href="" style="margin-bottom: 30px; width: 400px;">Log in</a>
    </div>

    <div style="flex-direction: row;">

        <a href="">Forgot password?</a>
        <span style="color:rgb(111, 121, 117)">.</span>
        <a href="">Sign up on Twitter</a>
    </div>

</div>

</div>
