* {
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  margin: 0;
}
.home-col {
  min-height: 100vh;
  color: white;
}
.home-col-border {
  border-left: 0.5px solid grey;
  border-right: 0.5px solid grey;
}
.home-title-div {
  border-bottom: 0.5px solid grey;
}
.home-padding-col {
  padding-left: 20px;
  padding-right: 20px;
}
.home-menu-lis {
  padding-left: 6%;
  padding-right: 2%;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-menu-lis-item {
  cursor: pointer;
  border-radius: 50px;
  margin-bottom: 15px;
  padding: 5px;
  padding-left: 10px;
  align-items: center;
}
.home-menu-lis-item:hover {
  background-color: #1da0f263;
}

.home-toggel {
  border-radius: 10px;
  padding: 25px;
  width: 300px;
  color: white;
  -webkit-box-shadow: 0px 0px 14px -1px rgba(255, 255, 255, 0.56);
  -moz-box-shadow: 0px 0px 14px -1px rgba(255, 255, 255, 0.56);
  box-shadow: 0px 0px 14px -1px rgba(255, 255, 255, 0.56);
}

.home-barra-busqueda {
  width: 95%;
  height: 50px;
  background: #253341;
  margin-top: 15px;
  border-radius: 25px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-barra-busqueda:focus {
  border: 1px solid #1da1f2;
}
