* {
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  margin: 0;
}
i {
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
}
/*Inicio estilos index o sing in */
.color-der {
  background-color: #15202b;
}
.color-izq {
  background-color: rgb(123, 215, 238);
}

.imagen-izq {
  background-image: url("../../../images/icons8-twitter-1600r.png");
  background-position: 35px 50%;
  background-size: 870px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.container-index {
  width: 100%;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-dejar {
  display: none;
}
.responsive {
  display: flex;
}
@media screen and (max-width: 830px) {
  .container-index {
    flex-direction: column;
  }
  .imagen-izq {
    background-image: url("../../../images/icons8-twitter-1600r.png");
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
  }
  .responsive-quitar {
    display: none;
  }
  .responsive-dejar {
    display: flex;
  }
  .responsive {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .mensaje {
    width: 100%;
  }
  .btn {
    width: 80%;
  }
}

.col-index {
  width: 100%;
  height: 100%;
}

.mensaje {
  width: 50vh;
  color: white;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 60px;
  flex-direction: column;
}

.mensajes {
  margin-left: 30%;
  align-self: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.btn {
  display: inline-block;
  text-decoration: none !important;
  border-radius: 20px;
  width: 300px;
  padding: 5px;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.btnsmall {
  display: inline-block;
  text-decoration: none !important;
  border-radius: 20px;
  padding: 5px;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.btn1:hover {
  background-color: rgb(3, 112, 207);
}

.btn1 {
  background-color: rgb(0, 135, 255);
  color: rgb(255, 255, 255);
}

.btn:active {
  box-shadow: 0 1px rgb(87, 102, 240);
  transform: translateY(2px);
}

.btn2 {
  border: 1px solid rgb(0, 136, 255);
  color: rgb(0, 140, 255);
}
.btn2:hover {
  background-color: rgba(89, 145, 194, 0.062);
  border: 1px solid rgb(0, 136, 255);
  color: rgb(0, 140, 255);
}

.btn2:active {
  box-shadow: 0 1px rgb(87, 102, 240);
  background-color: rgb(0, 135, 255);
  transition: all 300ms ease-out;
  transform: translateY(2px);
  color: white;
}

.btn3 {
  width: 50px;
  border: 1px solid rgb(0, 136, 255);
  color: rgb(0, 140, 255);
}

ul {
  list-style-type: none;
  margin: 0;
  padding-top: 5px;
  overflow: hidden;
  background-color: #15202b;
}

li {
  font-size: 12px;
  flex-direction: row;
  color: rgb(189, 186, 186);
  text-align: center;
  display: inline-flex;
}

li a {
  color: rgb(189, 186, 186);
  text-align: center;
  padding: 7px;
  text-decoration-color: currentcolor;
  text-decoration-style: solid;
  text-decoration-line: none;
  font-size: 12px;
}

a:hover {
  text-decoration-line: underline;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.Mycontainer-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Fin estilos index o sing in */

/*Inicio Inputs styles
input{
    width: 170px;
    height: 30px;
    box-sizing: border-box;
    line-height: 30px;
    font-size:14px;
    border:0;
    background: none;
    outline:none;
    border-radius: 3px;
    transition: all 200ms ease-out;
}*/

.Myselect {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid rgb(161, 161, 161);

  width: 100%;
  height: 100%;
}
select:focus {
  border-bottom: 2px solid rgb(9, 107, 204);
  transition: all 200ms ease-out;
  outline: none;
}
.Myinput-field {
  margin-right: 5px;
  margin-left: 5px;
  background-color: rgba(187, 186, 186, 0.103);
  border-radius: 3px;
  width: 170px;
  height: 48px;
}

.myInput {
  width: 170px;
  color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(167, 165, 165);
}
/* label color */
.Myinput-field label {
  color: rgb(207, 207, 207);
  font-size: 14px;
  text-align: left;
}

.inputSpan {
  display: flex;
  flex-direction: column;
}
/* span color */
.inputSpan a {
  color: rgb(0, 135, 255);
  font-size: 11px;
  margin-left: 15px;
  text-align: left;
  background-color: #15202b;
  cursor: pointer;
  text-decoration: none;
}
.inputSpan a:hover {
  text-decoration-line: underline;
}

input:focus {
  border-bottom: 2px solid rgb(9, 107, 204);
  transition: all 200ms ease-out;
}
label:focus-within {
  color: rgb(9, 107, 204);
}

/*
funciona si en el html el label esta debajo del input
  underline focus color 
  input[type=text]:focus+label{ 
    color:rgb(9, 107, 204);
  }*/

/*Fin Inputs styles*/
