// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile_image {
  width: 50px;
  border-radius: 25px;
}

.profile_image2 {
  width: 140px;
  border-radius: 70px;
}
.mytextarea {
  border-width: 0;
  width: 100%;
  color: white;
}
.mycol-1 {
  -ms-flex: 0 0 10.333333%;
  flex: 0 0 10.333333%;
  max-width: 10.333333%;
}
.mytextarea:focus {
  border-width: 0;
  outline: none;
}

.username {
  font-weight: lighter;
  color: gray;
  margin-left: 5px;
}
