<div class="container-fluid"> 
    <div class="row color-der">
        <div class="col-3 home-col home-menu-lis" style="margin-Top:10px;">
            <%= render :template =>'layouts/options.html.erb'%>
        <div class=" col-6 home-col-border home-col" style="padding:0">
            <%= render :template =>'tweets/_form.html.erb', tweet: @tweet %>
            
            <%= render :template =>'tweets/index.html.erb', tweet: @tweets %>
        </div>
        <div class="col-3 home-col">
           <input placeholder="Search Twitter" class="home-barra-busqueda">
           <%= render :template =>'user/listUsers.html.erb', user: @users %>
        </div>
    </div>
<div>
<script src="https://kit.fontawesome.com/c796510b88.js" crossorigin="anonymous"></script>