<div class="container-fluid"> 
    <div class="row color-der">
        <div class="col-3 home-col" style="margin-Top:10px">
            <img src="./images/icons8-twitter-500.png" width="30px"> 
        </div>
        <div class="col home-col home-col-border" style="padding:0">
            <div class="home-title-div home-padding-col" >
                <h1 style='font-weight: bold; font-size:25px;margin-Top:10px;margin-bottom:10px;'>Home</h1>
            </div>
            <div class="container home-title-div" style=" padding-Top:15px;">
                <div class="row"  style="padding-bottom:15px, padding-left:15px">
                    <div class="col">
                        foto
                    </div>
                <div class="col home-title-div">
                    <input placeholder="What's happening?" style="font-size:20px; border:0">
                </div>
            </div>
             <a class="btn btn1" style="margin-bottom: 20px; width: auto; font-size:15px;">
                   Tweet
                </a>
        </div>
        </div>
        <div class="col-3 home-col">
        col 3
        </div>
    </div>
<div>