<div class="container-fluid"> 
    <div class="row color-der">
        <div class="col-3 home-col" style="margin-Top:10px">
            <img src="./images/icons8-twitter-500.png" width="30px"> 
        </div>
        <div class=" col-6" style="padding:0">
            <%= render :template =>'tweets/_form.html.erb', tweet: @tweet %>

            <%= render :template =>'tweets/index.html.erb', tweet: @tweets %>
        </div>
        <div class="col-3 home-col">
            col 3
        </div>
    </div>
<div>