<% if user_signed_in?%>
    <h1> HOLA, <%= current_user.name%></h1>
<%end %>
<div class=" container-index ">
        <div class=" color-izq col-index imagen-izq responsive">
            <div class="mensajes" style="color:white;">
                <div style="display: flex; margin-bottom:40px; margin-top: 20px;">
                    <div style="margin-right:15px;">
                        <i class="fas fa-search"></i>
                    </div>
                        Follow what interests you.
                </div>
                <div style="display: flex; margin-bottom:40px;">

                    <div style="margin-right:15px;">
                        <i class="fas fa-user-friends" > </i>
                    </div>
                    Find out what people are talking about.
                </div>
                <div style="display: flex; margin-bottom:40px;">
                    <div style="margin-right:15px;">
                    <i class="far fa-comment"></i>
                    </div>
                        Join the conversation.
                    </div>
            </div>           
        </div>

        <div class=" color-der col-index">

            <div class="responsive-quitar">

            <form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post">
             <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

                <div class=" Mycontainer-fluid" style="margin-bottom:5%; ">
                    <div class="Myinput-field">
                        <label for="first_name">Phone, email, or username
                            <input autofocus="autofocus" autocomplete="email" type="email" value name="user[email]" id="first_name"  class="myInput">
                        </label>
                    </div>
    
    
                    <div class="inputSpan" style="margin-top:15px;">
                        <div class="Myinput-field">
                            <label for="password">Password
                                <input autocomplete="current-password" type="password" name="user[password]" id="password"  class="myInput">
                            </label>
                        </div>
                        <a href="/users/password/new">Forgot password?</a>
                    </div>
                    <input type="submit" name="commit" value="Log in" data-disable-with="Log in" class="btn btn2 btn3">
                </div>
            </div>


            <br><br><br>

            <div class=" Mycontainer-fluid">
                <div style="display: flex; flex-direction: column;">

                        <img src="./images/icons8-twitter-500.png" width="30px">
                    
                    <div class=" mensaje">
                        See what's happening in the world right now
                    </div>

                    <p style=" text-align: left; color:white; 
                        font-size: 12px; margin-bottom: 10px; font-weight: bold;">
                        Join Twitter today.
                    </p>
                        <a class="btn btn1" href="/users/sign_up" style="margin-bottom: 13px;">
                            Sign up
                        </a>

                        <a class="btn btn2" href="/login" style="margin-bottom: 5%;">
                            Log in
                        </a>
                </div>
            </div>

        </div>
        <div class=" color-izq col-index imagen-izq responsive-dejar"
            style="flex-direction: column;">
            <div class="mensajes" style="color:white; margin-top: 20px;">
    
                <div style="display: flex; margin-bottom:40px;">
                    <div style="margin-right:15px;">
                        <i class="fas fa-search"></i>
                    </div>
                        Follow what interests you.
                </div>
    
                <div style="display: flex; margin-bottom:40px;">
    
                    <div style="margin-right:15px;">
                        <i class="fas fa-user-friends" > </i>
                    </div>
                    Find out what people are talking about.
                </div>
    
                <div style="display: flex; margin-bottom:40px;">
                    <div style="margin-right:15px;">
                    <i class="far fa-comment"></i>
                    </div>
                        Join the conversation.
                    </div>
            </div>
    
            <div class="color-der col-index" 
            style="padding-top: 1px;" align="center">

                <a class="btn btn1" href="/users/sign_up" style="margin-bottom: 20px; width: 150px;">
                    Sign up
                </a>

                <a class="btn btn2" href="/users/sign_in" style="margin-bottom: 50px; width: 150px;">
                    Log in
                </a>

            </div>
        </div>


    </div>

    <script src="https://kit.fontawesome.com/c796510b88.js" crossorigin="anonymous"></script></body>
<footer>
    <div class=" color-der footer-index" align="center">
        <ul>
            <li><a href="https://about.twitter.com/" target="_blank">About</a></li>
            <li><a href="https://help.twitter.com/" target="_blank">Help center</a></li>
            <li><a href="https://twitter.com/tos" target="_blank">Terms</a></li>
            <li><a href="https://twitter.com/privacy" target="_blank">Privacy policy</a></li>
            <li><a href="https://support.twitter.com/articles/20170514" target="_blank">Cookies</a></li>
            <li><a href="https://business.twitter.com/en/help/troubleshooting/how-twitter-ads-work.html" target="_blank">Ads info</a></li>
            <li><a href="https://blog.twitter.com/" target="_blank">Blog</a></li>
            <li><a href="https://status.twitterstat.us/" target="_blank">Status</a></li>
            <li><a href="https://careers.twitter.com/" target="_blank">Jobs</a></li>
            <li><a href="https://about.twitter.com/press/brand-assets" target="_blank">Brand</a></li>
            <li><a href="https://ads.twitter.com/?ref=gl-tw-tw-twitter-advertise" target="_blank">Advertise</a></li>
            <li><a href="https://marketing.twitter.com/" target="_blank">Marketing</a></li>
            <li><a href="https://business.twitter.com/" target="_blank">Businesses</a></li>
            <li><a href="https://developer.twitter.com/" target="_blank">Developers</a></li>
            <li><a href="https://twitter.com/i/directory/profiles" target="_blank">Directory</a></li>
            <li><a href="https://twitter.com/settings" target="_blank">Settings</a></li>
            <li>© 2020 Twitter, Inc.</li>
        </ul>
    </div>
</footer>
